# Built application files
*.apk
*.ap_

# Java class files
*.class

# OSX files
.DS_Store

# Local configuration files
/local.properties

# Android Studio files
.gradle
/build
/captures
*.iml
/.idea/*
!/.idea/vcs.xml
!/.idea/runConfigurations.xml
