<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.robcutmore.vinotes"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:label="@string/app_name"
            android:name=".activities.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/title_note_add"
            android:launchMode="singleTop"
            android:name=".activities.ManageNoteActivity"
            android:parentActivityName=".activities.HomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <activity
            android:label="@string/title_winery_select"
            android:name=".activities.SelectWineryActivity"
            android:parentActivityName=".activities.ManageNoteActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ManageNoteActivity" />
        </activity>

        <activity
            android:label="@string/title_wine_select"
            android:name=".activities.SelectWineActivity"
            android:parentActivityName=".activities.ManageNoteActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ManageNoteActivity" />
        </activity>

        <activity
            android:label=""
            android:name=".activities.SelectTraitsActivity"
            android:parentActivityName=".activities.ManageNoteActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ManageNoteActivity" />
        </activity>

    </application>
</manifest>
